<%- include("header") -%>

<h2>This is the about page</h2>

<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi repellendus tempora eaque dicta rem ipsam vero possimus deleniti, ab laudantium veniam error quos corporis doloribus. Voluptatum mollitia iure id quis!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ad eius quasi ipsum! Rerum, ut corporis voluptas accusantium, distinctio, corrupti repellat maxime voluptatem nihil nulla suscipit doloribus velit recusandae animi!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quisquam praesentium nesciunt quo possimus doloremque nihil officiis quis animi optio!</p>
<%- include("footer") -%>
