<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<!-- NAV bar showing each list -->
<nav>
  <!-- <div class="logo">My Website</div> -->
  <ul>
      <% lists.forEach(list=> { %>
    <li><a href="/<%= list %>"><%= list %></a></li>
      <% }) %>
  </ul>
</nav>