html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #57cc99 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #57cc99;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #57cc99;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #57cc99;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #57cc99;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.item {
  position: relative;
}

.delete-item {
  position: absolute;
  right: 10px;
  /* background-color: red; */
  height: 25px;
  width: 25px;
  opacity: 0;
  transition: 0.3s ease;
}

.delete-item {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5 5 L15 15 M15 5 L5 15' stroke='black' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.item:hover .delete-item {
  opacity: 1;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #57cc99;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Logo styles */
.logo {
  font-weight: bold;
  font-size: 24px;
}

/* Links styles */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Active link styles */
.active {
  border-bottom: 2px solid #fff;
}

/* remove form formatting */
.form-new-list {
  margin: 0;
  padding: 0;
}

.container-new-list  > h1{
  position: relative;
}

/* Hide new lust  submit button if input not active */
#submit-new-list{
  display: none;
  font-size: 20px;
  background: #fff;
  color: #57cc99;
  padding: 2px;
}

/* only show new list button if input active */
#input-new-list:hover+button{
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: 0.4 ease;
}